.panel.panel-default
  .panel-heading
    %h3
      Data Sources
      .pull-right
        = link_to new_widget_data_source_path(@widget) do
          %i.fa.fa-plus
  .panel-body
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th
            Device
          %th
            Measure
          %th
            Precise
          %th.text-center
            x axis min
          %th.text-center
            x axis max
          %th
            Units
          %th
            Symbol
          %th
            Actions
      %tbody
        - @widget.data_sources.each do |ds|
          %tr
            %td{ style: 'white-space: nowrap' }
              = ds.device.name
            %td
              = ds.measurement
            %td.text-center
              = ds.precision
            %td.text-center
              = ds.x_axis_min
            %td.text-center
              = ds.x_axis_max
            %td
              = ds.units
            %td
              = ds.symbol
            %td
              = link_to edit_widget_data_source_path(@widget, ds) do
                %i.fa.fa-pencil
              = link_to widget_data_source_path(@widget,ds), method: :delete, data: { confirm: 'Are you sure?' } do
                %i.fa.fa-trash-o