.panel.panel-default
  .panel-heading
    %h3
      = @widget.name
      &nbsp;
  .panel-body
    = simple_form_for(@widget) do |f|
      = f.error_notification
      .form-inputs
        = f.input :name
        = f.input :active
        = f.input :size, collection: Widget::SIZES
        = f.input :order
        = f.input :display_type, collection: Widget::DISPLAY_TYPES
        = f.input :color, collection: Widget::COLORS
        = f.input :public_display, as: :boolean
      .form-actions
        = f.button :submit, 'Save Changes', class: 'btn btn-success'
