.container
  .row
    .col-md-12
      %h1
        Widgets
        .pull-right
          = link_to new_widget_path do
            %i.fa.fa-plus

      %table.table.table-striped.table-hover
        %thead
          %tr
            %th
              Active
            %th
              Name
            %th
              Size
            %th
              Order
            %th
              Display
            %th
              Color
            %th
              Data Sources
            %th
              Created
            %th
              Updated

        %tbody
          - @widgets.each do |widget|
            %tr
              %td
                = widget.active ? 'Yes':'No'
              %td
                = link_to widget.name, widget_path(widget)
              %td.text-center
                = widget.size
              %td.text-center
                = widget.order
              %td
                = widget.display_type
              %td
                = widget.color
              %td.text-center
                = widget.data_sources.count
              %td
                = time_ago_in_words widget.created_at
                ago
              %td
                = time_ago_in_words widget.updated_at
                ago
              %td
                = link_to edit_widget_path(widget) do
                  %i.fa.fa-pencil
                = link_to widget_path(widget), method: :delete, data: { confirm: 'Are you sure?' } do
                  %i.fa.fa-trash-o
