%div{ class: "col-md-#{widget.size.to_i * 3}" }
  .widget
    .panel{class: "panel-#{widget.safe_color}"}
      .panel-heading.text-center
        = widget.name
        .pull-left
          = link_to widget_path(widget) do
            %i.fa.fa-newspaper-o
        - if user_signed_in? && current_user == widget.user
          .pull-right
            = link_to edit_widget_path(widget) do
              %i.fa.fa-pencil
      .panel-body{style: 'height: 462px'}
        .widget-body-chart{style: '', id: "widget-#{widget.id}" }
          = high_chart "widget-#{widget.id}", chart unless chart.nil?
  - if controller.action_name == 'edit' && !chart.nil?
    %pre
      = JSON.pretty_generate chart.to_json
